<script src="loginCtrl.js"></script>
<style type="text/css">
    body {
        background-color: #DADADA;
    }

    body > .grid {
        height: 100%;
    }

    .image {
        margin-top: 100px;
    }

    .column {
        max-width: 500px;
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui grey image header">

            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" ng-model="username" name="username" placeholder="User Name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" ng-model="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div ng-click="login(username,password)" class="ui fluid large white submit button">Login</div>
            </div>


        </form>

        <div ng-show="badLogin()" class="ui error message">
            <div class="ui warning message">
                <div class="header">
                    Incorrect UserName or Password!
                </div>
                If you've forgotten your credentials, email the admin!
            </div>
        </div>

        <div class="ui message">
            New to us? <a href="/#/signup">Sign Up</a>
        </div>
    </div>
</div>